.footer_main
{
    background-color: rgb(51, 51, 51);
    padding: 10px 0px;
    width: 100%;
}
.footer_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text
{
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: 600;
}
